{% extends "home.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %} {% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h4>{% trans "Login" %}</h4>
                    </div>
                    <div class="card-body">
                        <form id="loginForm" method="post">
                            {% csrf_token %}
                            <div class="form-floating">
                                <input type="text" class="form-control" id="username" name="username" placeholder={% trans "Enter user name" %} required>
                                <label for="username">{% trans "User name" %}</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password" name="password" placeholder={% trans "Password" %} required>
                                <label for="password">{% trans "Password" %}</label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">{% trans "Remember me" %}</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">{% trans "Login" %}</button>
                            <div>
                                <a href={% url 'password_reset' %}>{% trans 'I have lost my password' %}</a>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <small>&copy; 2024 LaAlquimistaDeLasFlores</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}