{% extends 'navbar.html' %}
{%  load i18n %}
{% block content %}
    <div class="container">
        <h2 class="my-4">{% trans 'Password reset instructions sent' %}</h2>
        <p>{%  trans 'We have sent an email with instructions to reset your password, if you have an account with the email you entered. You should receive it shortly.' %}</p>
        <p>{% trans 'If you do not receive an email, make sure you have entered the address you registered with and check your spam folder.' %}</p>
        <a href="{% url 'home' %}" class="btn btn-primary">{%  trans 'Return to start page' %}</a>
    </div>
{% endblock %}
